@using BargainWithMe.App.Shared.DTO;


@model IEnumerable<CatalogWithProductsDTO>

@foreach (var entity in Model)
{
    <div>
        <h3>@entity.Catalog.Name</h3>
        <ul>
            @foreach (var product in entity.Products)
            {
                <li>
                    <p>@product.ToString()</p>
                    <button onclick="deleteProduct('@product.Id')">Delete</button>
                    <button onclick="negotiate('@product.Id')">Negotiate</button>
                </li>
            }
        </ul>
    </div>
}